* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body * {
    font-family: "Inter", sans-serif;
    color: #fff;
  }
  
 #container {
  width: 100%;
  max-width: 588px;
  margin: 5vh auto 0;
  padding: 0 24px;
}
  
  #profile {
    text-align: center;
    padding: 24px;
  }
  
  #profile img {
    width: 112px;
  }
  
  #profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
  }
  
  /* links */
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
  }
  
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  background-color: #8e44ad;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}
 
 ul li a:hover {
  background-color: #a569bd;
  transform: scale(1.05);
}

ul li ion-icon {
  font-size: 1.5rem;
}

ul li a:focus {
  outline: 2px solid #fff;
  outline-offset: 4px;
}
  
  /* social links */
#social-links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}
  
#social-links a {
  color: #ccc; /* cinza claro */
  font-size: 1.8rem;
  transition: transform 0.3s ease, color 0.3s ease;
}
  

#social-links a:hover {
  transform: scale(1.25);
  color: #ffffff; /* ou uma cor personalizada para cada rede social */
}
  
  ion-icon {
    font-size: 24px; /* Ajuste o tamanho do ícone */
    margin-right: 8px; /* Espaço entre o ícone e o texto */
  }
  
footer#ira {
  margin-top: 3rem;
  padding: 1rem 0;
  text-align: center;
  font-size: 0.9rem;
  color: #b0b0b0; /* cinza claro */
}

footer#ira p {
  margin-top: 0.8rem;
  font-size: 1rem;
  color: #d6d6d6; /* cinza claro elegante */
  font-style: italic;
  font-weight: 500;
}

.slogan {
  margin-top: 0.8rem;
  font-size: 1rem;
  color: #d6d6d6; /* cinza claro elegante */
  font-style: italic;
  font-weight: 500;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #1a001f; /* fundo escuro estilo açaí */
  z-index: -1;
}

a {
  touch-action: manipulation;
}

#social-links a.instagram:hover {
  color: #e1306c;
}
#social-links a.linkedin:hover {
  color: #0077b5;
}
#social-links a.github:hover {
  color: #333;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a001f;
  }
  ul li a {
    background-color: #732d91;
  }
}

